<% provide(:title, 'Home') %>
<h1>Sample App</h1>
<p>This is the home page for the sample application</p>
<p>The tutorial itself can be found <a href="http://railstutorial.org/">here</a> if you're so inclined</p>